* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  height: -webkit-fill-available;
}


iframe[src*="cashfree"] {
  height: 100vh !important;
}

.wrapper{
  height: 110vh !important;
}

.svelte-1enjjul{
  height: 100vh;
}

.modal-body.svelte-1enjjul {
  height: 100vh !important;
  overflow-y: auto !important;
  display: flex !important;
  flex-direction: column !important;
}



@media (max-width: 768px) {
  .navbar-wrapper {
    display: none !important;
  }

  .slick-dots {
    bottom: 35 !important;
  }
}
