* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
 width: 100%;
}



@media (max-width: 768px) {
  .navbar-wrapper {
    display: none !important;
  }

  .slick-dots {
    bottom: 35 !important;
  }

}
