* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
}

/* Cashfree embedded - full height, single scroll (like one-click-checkout-demo) */
#cashfree-dropin,
.cashfreeDropin {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
}

#cashfree-dropin > div,
.cashfreeDropin > div {
  width: 100% !important;
  height: 100% !important;
  min-height: 100% !important;
  overflow: hidden !important;
}

#cashfree-dropin iframe,
.cashfreeDropin iframe,
[id*="cashfree"] iframe {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 100vh !important;
  min-height: 100dvh !important;
  border: none !important;
  display: block !important;
}



@media (max-width: 768px) {
  .navbar-wrapper {
    display: none !important;
  }

  .slick-dots {
    bottom: 35 !important;
  }

}
