.wishlist_main {
  padding: 2rem 3rem;

  h1 {
    text-align: center;
  }

   .iconBtn {
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    display: none;

    svg {
      stroke: #000;
    }
  }

  .cardGrid {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 4rem;
    justify-items: center;
    animation: fadeIn 0.5s ease;
  }

  .noProducts {
    margin-top: 2rem;
  }
}


@media (max-width: 768px) {
  .wishlist_main {
    padding:0;
  margin-bottom: 2rem;

  .iconBtn{
    display: block;
  }

    .cardGrid {
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
    }
  }
}
