.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 4rem;
  justify-items: center;
  animation: fadeIn 0.5s ease;
}

.pageWrap {
  width: 100%;
  padding-bottom: 120px;

  @media (min-width: 769px) {
    padding: 2rem 2rem 100px;
  }
}

.mobileHeader {
  display: none;
}

.mobileOffer {
  display: none;
}

/* Mobile Layout */
@media (max-width: 768px) {
  .pageWrap {
    padding-bottom: 120px;
  }

  .mobileOffer {
    display: block;
    width: 100%;
  }

 .cardGrid {
    width: 100vw;
    padding: 0 !important;
    margin: 0 !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px !important;
    justify-items: stretch;
  }

  .cardGrid > * {
    width: 100% !important;
  }

  .mobileHeader {
    display: block;
  }
}
